name: Fealty Android Internal Test Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Increment version code
        run: node scripts/increment-version-code.js

      - name: Build Android app for internal testing
        run: eas build --platform android --profile internal --local --non-interactive --output ${{ github.workspace }}/app-internal.aab
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

      - name: Upload AAB artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-internal-aab
          path: ${{ github.workspace }}/app-internal.aab

      - name: Upload mapping file
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: mapping
          path: ${{ github.workspace }}/android/app/build/outputs/mapping/release/mapping.txt

      - name: Submit to Play Store Internal Testing
        if: github.ref == 'refs/heads/main'
        run: eas submit --platform android --path ${{ github.workspace }}/app-internal.aab --profile production --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}